.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

button {
  height: 70px;
  width: 25%;
  background: #fff;
  color: #000;
  font-size: 30px;
  outline: 0;
  border: 0;
  padding: 0;
  cursor: pointer;
}

input {
  border: 0;
  outline: 0;
}

button:hover {
  background: #999;
}

button:active {
  background: #333;
  color: #fff;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}